[Unit]
Description=sslocal based on the config file %i
After=network.target network-online.target
Requires=network.target network-online.target

[Service]
Type=simple
User=proxy
ExecStart=/usr/local/bin/sslocal -c /usr/local/etc/ss-rust/%i.json

[Install]
WantedBy=multi-user.target
